<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RemotePrintDocs</title>
    <base href="/" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <HeadOutlet @rendermode="RenderMode.InteractiveServer" />
</head>
<body>
    <Routes @rendermode="RenderMode.InteractiveServer" />
    <script src="@Assets["_framework/blazor.web.js"]" suppress-error="BL9992" defer></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="/js/banners.js"></script>
</body>
</html>
